<% if notice %> <!-- Pasar padding-top: 8px para o aplication.css -->
  <center><p class="alert-success"><%= notice %></p></center>
<% end %>
<% if alert%> <!-- Pasar padding-top: 8px para o aplication.css -->
  <center><p class="alert-danger"><%= alert %></p></center>
<% end %>

<center>
  <h3>Insira a senha administrativa</h3>
  <%= form_tag autorizar_path do %>
    <div class="field">
      <%= label_tag 'senha', 'Senha' %><br>
      <%= password_field_tag 'senha' %>
    </div>
    <div class="actions" >
      <%= submit_tag 'Login', :id=> "btLogin" %>
    </div>
  <% end %>
</center>
<br>
