<h3>Bem vindo, <%= $a.nome %></h3>

<h1>Listing fotocopia</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Originais</th>
      <th>Quantidade</th>
      <th>Data</th>
      <th>Justificativa</th>
      <th>Matricula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fotocopium.each do |fotocopium| %>
      <% if fotocopium.matricula == $a.matricula %>
        <tr>
          <td class="user_info"><%= fotocopium.titulo %></td>
          <td class="user_info"><%= fotocopium.originais %></td>
          <td class="user_info"><%= fotocopium.quantidade %></td>
          <td class="user_info"><%= fotocopium.data %></td>
          <td class="user_info"><%= fotocopium.justificativa %></td>
          <td class="user_info"><%= fotocopium.matricula %></td>
          <td class="buttom_actions"><%= link_to 'Show', fotocopium %></td>
          <td class="buttom_actions"><%= link_to 'Edit', edit_fotocopium_path(fotocopium) %></td>
          <td class="buttom_actions"><%= link_to 'Destroy', fotocopium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New', new_fotocopium_path %></p>
<p id="Sair"><%= link_to 'Sair', controller:"login", action:"index" %></p>
