<h1>Listing fotocopia</h1>

<table>
  <thead>
    <tr>
      <th class="user_info">Titulo</th>
      <th class="user_info">Originais</th>
      <th class="user_info">Quantidade</th>
      <th class="user_info">Data</th>
      <th class="user_info">Justificativa</th>
      <th class="user_info">Matricula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fotocopium.each do |fotocopium| %>

<!--      <% if @teste.size < 7 %>
        <tr>
          <td class="user_info"><%= fotocopium.titulo %></td>
          <td class="user_info"><%= fotocopium.originais %></td>
          <td class="user_info"><%= fotocopium.quantidade %></td>
          <td class="user_info"><%= fotocopium.data %></td>
          <td class="user_info"><%= fotocopium.justificativa %></td>
          <td class="user_info"><%= fotocopium.matricula %></td>
          <td class="buttom_actions"><%= link_to 'Show', fotocopium %></td>
          <td class="buttom_actions"><%= link_to 'Edit', edit_fotocopium_path(fotocopium) %></td>
          <td class="buttom_actions"><%= link_to 'Destroy', fotocopium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      <% else %>-->
        <% if fotocopium.matricula == @a.matricula %>
          <tr>
            <td class="user_info"><%= fotocopium.titulo %></td>
            <td class="user_info"><%= fotocopium.originais %></td>
            <td class="user_info"><%= fotocopium.quantidade %></td>
            <td class="user_info"><%= fotocopium.data %></td>
            <td class="user_info"><%= fotocopium.justificativa %></td>
            <td class="user_info"><%= fotocopium.matricula %></td>
            <td class="buttom_actions"><%= link_to 'Show', fotocopium %></td>
            <td class="buttom_actions"><%= link_to 'Edit', edit_fotocopium_path(fotocopium) %></td>
            <td class="buttom_actions"><%= link_to 'Destroy', fotocopium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>

      <!-- <% end %> -->

    <% end %>
  </tbody>
</table>
<br>

<!--
<p><%= link_to 'New', new_fotocopium_path %></p>
<p id="Sair"><%= link_to 'Voltar', controller:"servico", action:"index", id:$a %></li></p>
<p id="Sair"><%= link_to 'Sair', controller:"login", action:"index" %></p>
-->

<table class="buttom_opt">
  <tr>
    <td class="user_opt"><%= link_to 'New', new_fotocopium_path %></td>
    <td class="user_opt"><%= link_to 'Voltar', controller:"servico", action:"index", id:$a %></td>
    <td class="user_opt"><%= link_to 'Sair', controller:"login", action:"index" %></td>
  </tr>
</table>
