<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @fotocopium.titulo %>
</p>

<p>
  <strong>Originais:</strong>
  <%= @fotocopium.originais %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @fotocopium.quantidade %>
</p>

<p>
  <strong>Data:</strong>
  <%= @fotocopium.data %>
</p>

<p>
  <strong>Justificativa:</strong>
  <%= @fotocopium.justificativa %>
</p>

<%= link_to 'Edit', edit_fotocopium_path(@fotocopium) %> |
<%= link_to 'Back', fotocopia_path %>
