<h1>Informações da solicitação</h1>
<center>
  <div class="show_info">
    <p>
      <strong>Titulo:</strong>
      <%= @fotocopium.titulo %>
    </p>

    <p>
      <strong>Originais:</strong>
      <%= @fotocopium.originais %>
    </p>

    <p>
      <strong>Quantidade:</strong>
      <%= @fotocopium.quantidade %>
    </p>

    <p>
      <strong>Data:</strong>
      <%= @fotocopium.data %>
    </p>

    <p>
      <strong>Justificativa:</strong>
      <%= @fotocopium.justificativa %>
    </p>

    <p>
      <strong>Matricula:</strong>
      <%= @fotocopium.matricula %>
    </p>

    <p>
      <strong>Pronto:</strong>
      <% if @fotocopium.check == 0 %>
        Não
      <% elsif @fotocopium.check == 1 %>
        Sim
      <% else %>
        -
      <% end %>
    </p>

    <table class="buttom_opt">
      <tr>
        <td class="user_opt"><%= link_to 'Edit', edit_fotocopium_path(@fotocopium) %></td>
        <td class="user_opt"><%= link_to 'Voltar', fotocopia_path %></td>
      </tr>
    </table>'
  </div>
</center>