<%= form_for(@diretor) do |f| %>
  <% if @diretor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diretor.errors.count, "error") %> prohibited this diretor from being saved:</h2>

      <ul>
      <% @diretor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :matricula %><br>
    <%= f.number_field :matricula %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.text_field :senha %>
  </div>
  <div class="field">
    <%= f.label :diretoria %><br>
    <%= f.text_field :diretoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
