<h1>Listing diretors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Senha</th>
      <th>Diretoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diretors.each do |diretor| %>
      <tr>
        <td><%= diretor.nome %></td>
        <td><%= diretor.matricula %></td>
        <td><%= diretor.senha %></td>
        <td><%= diretor.diretoria %></td>
        <td><%= link_to 'Show', diretor %></td>
        <td><%= link_to 'Edit', edit_diretor_path(diretor) %></td>
        <td><%= link_to 'Destroy', diretor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="buttom_actions"><%= link_to 'Login', controller:"servico", action:"index", matricula:diretor.matricula %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table class="buttom_opt">
  <tr>
    <td class="user_opt"><%= link_to 'Criar conta', new_diretor_path %></td>
    <td class="user_opt"><%= link_to 'Inicio', controller:"login", action:"index" %></td>
  </tr>
</table>
