<% if notice %> <!-- aplication.css <= padding-top: 8px -->
  <center><p class="alert-success"><%= notice %></p></center>
<% end %>
<% if alert%> <!-- aplication.css <= padding-top: 8px -->
  <center><p class="alert-danger"><%= alert %></p></center>
<% end %>

<h1>Bem vindo ao CopyIF</h1>
<h3>Realize suas solicitações de forma rápida e prática</h3>

<center>
  <%= form_tag autenticar_path do %>
    <div class="field">
      <%= label_tag 'matricula', 'Matricula' %><br>
      <%= text_field_tag 'matricula' %>
    </div>
    <div class="field">
      <%= label_tag 'senha', 'Senha' %><br>
      <%= password_field_tag 'senha' %>
    </div>
    <div class="actions">
      <%= submit_tag 'Login' %>
    </div>
  <% end %>
</center>

<center class="aux">
  <%= link_to 'Professores', controller:"usuarios", action:"index", id:"1" %>
  <%= link_to 'Diretores', controller:"usuarios", action:"index", id:"2" %>
  <%= link_to 'Administrador', controller:"admins", action:"index" %>
</center>
