<h1>Usuários</h1>

<table>
  <thead>
    <tr>
      <th class="user_info">Nome</th>
      <th class="user_info">Matricula</th>
      <th class="user_info">Diretoria</th>
      <th class="user_info">Senha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td class="user_info"><%= usuario.nome %></td>
        <td class="user_info"><%= usuario.matricula %></td>
        <td class="user_info"><%= usuario.diretoria %></td>
        <td class="user_info"><%= usuario.senha %></td>
        <td class="buttom_actions"><%= link_to 'Show', usuario %></td>
        <td class="buttom_actions"><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td class="buttom_actions"><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="buttom_actions"><%= link_to 'Login', controller:"servico", action:"index", id:usuario.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'Criar conta', new_usuario_path %></p>
<p><%= link_to 'Inicio', controller:"login", action:"index" %></p>
